<div class="row">
  <% @title = "Borrow Buddy | Edit Borrower" %>
  <div class="col text-center">
    <h1>Edit Borrower</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col">
    <%= link_to 'Show', @borrower %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'Cancel', lender_borrowers_path(current_lender) %>
  </div>
</div>
