<div class="row">
  <% @title = "Borrow Buddy | All Borrowers" %>
  <div class="col text-center">
    <h1>All Borrowers</h1>
  </div>
</div>

<div class="media row">
  <div class="media-body col offset-1">
    <p>View all borrower you've added to your app here. Click "Edit" or "Delete" to make changes to the borrower listed on the corresponding row. Click on the name of the borrower to view more information, including all borrows logged to this borrower in your app.</p>
  </div>
  <%= image_tag("bb-color.png", size: "40x40", alt: "Borrow Buddy Logo", class: "col-1") %>
  <div class="col-1">
  </div>
</div>

<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr class="row">
        <th scope="col" class="col-3">Name</th>
        <th scope="col" class="col-4">Email</th>
        <th scope="col" class="col-3">Phone</th>
        <th scope="col" class="col-2" colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <%= no_borrowers_tracked %>
    </tbody>
  </table>
</div>
