<div class="row">
  <% if save_error.errors.any? %>
    <div id="error_explanation" class="col-11 offset-1">
      <h2><%= pluralize(save_error.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% save_error.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
