<div class="row">
  <% if loan.errors.any? %>
    <div id="error_explanation" class="col-11 offset-1">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this borrow from being saved:</h2>

      <ul>
        <% loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
