<div class="row">
  <% @title = "Borrow Buddy | Edit Recipient" %>
  <div class="col text-center">
    <h1>Edit Recipient</h1>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Show', @recipient %>
<%= link_to 'Cancel', lender_recipients_path(current_lender) %>
