<div class="row">
  <% @title = "Borrow Buddy | Edit Recipient" %>
  <div class="col text-center">
    <h1>Edit Recipient</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col">
    <%= link_to 'Show', @recipient %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'Cancel', lender_recipients_path(current_lender) %>
  </div>
</div>
