<div class="row">
  <% @title = "BorrowBuddy | Edit Item" %>
  <div class="col text-center">
    <h1>Edit Item</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col">
    <%= link_to 'Show', @item %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'Cancel', lender_items_path(current_lender) %>
  </div>
</div>
