<div class="row">
  <% @title = "Borrow Buddy | Edit Item" %>
  <div class="col text-center">
    <h1>Edit Item</h1>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Show', @item %>
<%= link_to 'Cancel', lender_items_path(current_lender) %>
