<div class="row">
  <% @title = "Borrow Buddy | All Items" %>
  <div class="col text-center">
    <h1>All Items</h1>
  </div>
</div>

<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr class="row">
        <th scope="col" class="col-7">Name</th>
        <th scope="col" class="col-3 text-center">Category</th>
        <th scope="col" class="col-2" colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr class="row">
          <td class="col-7"><%= link_to item.name, lender_item_path(current_lender, item) %></td>
          <td class="col-3 text-center"><%= item.category.downcase %></td>
          <td class="col-1 text-right table-action-link"><%= link_to 'Edit', edit_lender_item_path(current_lender, item) %></td>
          <td class="col-1 text-right table-action-link"><%= link_to 'Destroy', lender_item_path(current_lender, item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
