<div class="row">
  <% @title = "Borrow Buddy | All Items" %>
  <div class="col text-center">
    <h1>All Items</h1>
  </div>
</div>

<div class="media row">
  <div class="media-body col offset-1">
    <p>View all items you've logged in your app here. Click "Edit" or "Delete" to make changes to the item listed on the corresponding row. Click on the name of the item itself to view more information, including all borrows made against this item in your app.</p>
  </div>
  <%= image_tag("bb-color.png", size: "40x40", alt: "Borrow Buddy Logo", class: "col-1") %>
  <div class="col-1">
  </div>
</div>

<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr class="row">
        <th scope="col" class="col-7">Name</th>
        <th scope="col" class="col-3 text-center">Category</th>
        <th scope="col" class="col-2" colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <%= no_items_tracked %>
    </tbody>
  </table>
</div>
