<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<%= link_to 'Edit', edit_lender_item_path(current_lender, @item) %>
<%= link_to 'Back', lender_items_path(current_lender) %>
