<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr class="row">
        <th scope="col" class="col-4">Item</th>
        <th scope="col" class="col-2">Recipient</th>
        <th scope="col" class="col-2 text-center">Days Borrowed</th>
        <th scope="col" class="col-2 text-center">Reminders Sent</th>
        <th scope="col" class="col-2" colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <%= helper_method %>
    </tbody>
  </table>
</div>
