<%= form_with(model: borrow, local: true) do |form| %>
  <% if borrow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(borrow.errors.count, "error") %> prohibited this borrow from being saved:</h2>

      <ul>
        <% borrow.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
