<div class="row">
  <% @title = "Borrow Buddy | Current Borrows" %>
  <div class="col text-center">
    <h1>Current Borrows</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 text-center">
    <%= link_to 'View All Borrows', lender_borrows_path(current_lender) %>
  </div>
  <div class="col-md-6 text-center">
    <%= link_to 'View Only Returned Borrows', lender_returned_borrows_path(current_lender) %>
  </div>
</div>

<%= render "borrows/index_partials/scoped_borrows_index" %>
