<h1>Current Borrows</h1>

<%= link_to 'View All Borrows', lender_borrows_path(current_lender) %>
<%= link_to 'View Only Returned Borrows', lender_returned_borrows_path(current_lender) %><br>

<%= render 'borrows_index' %>

<%= link_to 'Home', root_path %>
