<div class="row">
  <% @title = "Borrow Buddy | Edit Borrow" %>
  <div class="col text-center">
    <h1>Edit Borrow</h1>
  </div>
</div>

<%= borrow_origin %>

<%= link_to 'Show', lender_borrow_path(current_lender, @borrow) %>
<%= link_to 'Cancel', lender_borrows_path(current_lender) %>
