<div class="row">
  <% @title = "Borrow Buddy | All Borrows" %>
  <div class="col text-center">
    <h1>All Borrows</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <%= link_to 'Create New Borrow', new_lender_borrow_path(current_lender) %>
  </div>
  <div class="col-md-4 text-center">
    <%= link_to 'View Only Current Borrows', lender_current_borrows_path(current_lender) %>
  </div>
  <div class="col-md-4 text-center">
    <%= link_to 'View Only Returned Borrows', lender_returned_borrows_path(current_lender) %>
  </div>
</div>

<%= render 'borrows_index' %>
