<div class="form-row">
  <% @title = "Borrow Buddy | New Borrow" %>
  <div class="form-group col-12">
    <h1 class="form-page-heading">New Borrow</h1>
  </div>
</div>

<%= borrow_origin %>

<div class="row">
  <div class="col">
    <%= link_to 'Cancel', lender_borrows_path(current_lender) %>
  </div>
</div>