<div class="row">
  <% @title = "Borrow Buddy | Returned Borrows" %>
  <div class="col text-center">
    <h1>Returned Borrows</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 text-center">
    <%= link_to 'View All Borrows', lender_borrows_path(current_lender) %>
  </div>
  <div class="col-md-6 text-center">
    <%= link_to 'View Only Current Borrows', lender_current_borrows_path(current_lender) %>
  </div>
</div>

<%= render partial: "borrows/index_partials/scoped_borrows_index", locals: { helper_method: no_returned_borrows } %>
